.defaultOverride{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Shadows Into Light', cursive;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
.profileCore{
    background: #E4F9F5;
}
body{
    text-align: center;
}
.top-container{
    padding-top: 100px;
    position: relative;
}

.bottom-cloud{
    position: absolute;
    bottom:300px;
    left: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.profile-image{
    height: 300px;
    width: 300px;
}

/* 

    font-family: 'Sacramento', cursive;

    font-family: 'Merriweather', serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Montez', cursive;

    font-family: 'Shadows Into Light', cursive;

    font-family: 'Pacifico', cursive;

    font-family: 'Pacifico', cursive;

    

 */